
.container{
    width: 1300px;
    margin: auto;
}
/*header starts*/
.header{
    height: 680px;
    background-color: #2f3342;
}
.header-flex .title{
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}
.header-flex .header-logo a{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}
.navbar{
    display: flex;
    list-style-type: none;
    padding-top: 10px;
    margin-left: 60px;
}
.navbar li a{
    color: rgb(207, 200, 200);
    text-decoration: none;
    padding-right: 20px;
    font-family: sans-serif;
}
.navbar li a:hover{
    color: #fff;
}
.msd{
    font-size: 15px;
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: #fff;
}
.msd:hover{
    background-color: rgb(87, 108, 230);
    color: #fff;
}
.header-flex{
    width: 100%;
}
.fifty{
    margin-top: 25px;
}
.fifty .first h1{
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    
    padding-top: 50px;
}
.fifty p{
    font-size: 15px;
    font-weight: 400;
    padding-top: 20px;
    color: rgba(255, 255, 255, 0.8);
}
.box{
    margin-top: 20px;

}
.box .mani{
    width: 100%;
    height: 60px;
    background: #fff;
    border-radius: 10px;
}
.number{
    display: flex;
    width: 400px;
    
}
.number .one h3{
    color: rgba(255, 255, 255, 0.8);
    font-size: 32px;
    font-weight: 700;
    margin-top: 30px;
    margin: 20px;
    padding: 35px;
    padding-bottom: 5px;
}
.number .one p{
    padding-left: 40px;
}
.number .hrline{
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 3px;
    color: blue;
}
.head-all{
    display: flex;
}
.img .maniii{
   padding-left: 200px; 
}
/*header ends*/
/*features starts*/
.feature-flex{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
.feature-flex .boxes{
    width: 33.33%;
    padding: 40px;
}
.boxes{
    display: flex;
}
.boxes a{
    text-decoration: none;
}
.boxes .truc{
    padding-bottom: 20px;
}
.boxes .truc a{
    color: rgb(44, 44, 197);
    font-size: 50px;
    padding-right: 20px;
}
.boxes h4 a{
    color: #22242b;
    font-size: 15px;
    font-weight: 800;
}
.boxes p{
    color: #22242b;
    font-size: 15px;
}
.boxes p a{
    color: #22242b;
}
.boxes .three a:hover{
    color: blue;
}
/*features ends*/
/*About starts*/
.about-flex{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}
.about-flex .about-first{
    width: 50%;
}
.about-first h3{
    font-weight: 700;
    font-size: 32px;
    color: #001f8d;
    
    padding-bottom: 10px;
}
.about-first p{
    font-size: 15px;
    padding-bottom: 20px;
    
}
.about-one .about-icon a{
    display: flex;
    font-size: 25px;
    
    text-decoration: none;
}
.about-p h5{
    font-size: 15px;
    font-weight: 700;
    color: #19335c;

    margin-bottom: 20px;
}
.about-p p{

}
.about-flex .about-second{
    width: 50%;
}
/*About ends*/
/*our services starts*/
.ourservice{
    display: flex;
}
.our-flex h3{
    color: #000000;
    padding-top: 20px;
    text-decoration: none;
    font-weight: 700;
}
.our-flex{
    margin-right: 30px ;
    padding-top: 40px;
}
.our-flex h3 a:hover{
    color: #20409e;
}
.our-first{
    border: 1px solid rgba(14, 29, 52, 0.15);
    background: #fff;
    position: relative;
    margin: 10px;
    border-radius: 0;
    height: 100%;
}
.our-flex .our-mani1{
    display: flex;
    
}
.our-flex p{
    padding-top: 25px;
}
.our-second{
    border: 1px solid rgba(14, 29, 52, 0.15);
    background: #fff;
    position: relative;
    margin: 10px;
    border-radius: 0;
    height: 100%;
}
.our-flex .our-mani2{
    display: flex;
    
}
/*our services ends*/
/*cta starts*/
.cta{
    background-attachment: fixed;
    
    margin-top: 40px;
}
.totcta{
    width: 1300px;
    height: 400px;
    background: url(../cta-bg.jpg);
    /* background-attachment: ; */
}
.totcta h3{
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    padding-top: 150px;
    text-align: center;
}
.totcta p{
    color: #fff;
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
}
.cta-btn{
    margin-top: 20px;
    margin-left: 600px;
    padding: 10px;
    font-size: 18px;
    font-weight: 900;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: rgb(143, 80, 44);
}
/*cta ends*/
/*gifts starts*/
.gifts{
    margin-top: 50px;
}
.first-four{
    display: flex;
    margin-top: 30px;
}
.text-cont{
    margin-left: 70px;
}
.text-cont h3{
    font-weight: 600;
    font-size: 26px;
    color: #001973;
    padding-bottom: 30px;
}
.text-cont p{
    font-style: italic;
    padding-bottom: 35px;
}
.text-cont li{
    padding-bottom: 30px;
}

.second-four{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
.text-cont2{
    margin-right: 60px;
}
.text-cont2 h3{
    font-weight: 600;
    font-size: 26px;
    color: #001973;
    padding-bottom: 30px;
}
.text-cont2 .dhoni{
    font-style: italic;
    font-size: 18px;
    padding-bottom: 25px;
}
.text-cont2 .dhoni2{
    padding-bottom: 35px;
    font-size: 18px;
}
/*gifts ends*/
/*pricing starts*/
.threeprice{
    display: flex;
    width: 33.33%;
    height: 580px;
}
.threeprice h3{
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 25px;
    color: rgb(27, 24, 24)
}
.threeprice h4{
    font-size: 48px;
    font-weight: 400;
    color: #3061f5;
    margin-bottom: 25px;
}
.firstprice{
    margin-right: 270px;
}
.firstprice li{
    padding-top: 20px;
}
.pribtn{
    margin-top: 20px;
}




/*pricing ends*/

